<ion-content [fullscreen]="true" class="ion-padding ion-text-center" color="tertiary">
  <img src="../../assets/img/logo.png" class="logo" alt="imagen logo de inicio de sesion">
  <div class="form-container">
    <h3>Bienvenido</h3>
    <p>Inicie sesion para continuar</p>
    <mat-form-field>
      <mat-label color="primary">Ingresa tu email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      @if (email.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
      }
    </mat-form-field>
    <ion-button expand="block" (click)="loginPage()">Recuperar</ion-button>
  </div>
</ion-content>