<ion-header>
  <ion-toolbar class="ion-text-center" color="tertiary">
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <!--=== Segmentos ===-->
  <ion-segment [(ngModel)]="segment" mode="ios">
    
    <ion-segment-button value="scan">
      <ion-label>Escanear QR</ion-label>
    </ion-segment-button>

    <ion-segment-button value="informacion">
      <ion-label>Informacion</ion-label>
    </ion-segment-button>

  </ion-segment>

  <!--=== Segmento Escaneo===-->
  <div class="segment" *ngIf="segment === 'scan'">
    <div class="segment-content">
      <img src="assets/images/scan-qr.webp" alt="">
      <h6 class="scan-label">Escanea o selecciona una imagen con codigo QR que indique el profesor para confirmar la asistencia</h6>

      <ion-row>
        <ion-col size="6">
          <ion-button (click)="startScan()" class="submit" expand="block">
            Escanear QR
            <ion-icon slot="end" name="scan-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="readBarcodeFromImage()" class="submit" expand="block">
            Seleccionar QR
            <ion-icon slot="end" name="image-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      
    </div>
  </div>

  <!--=== Segmento Informacion ===-->
  <div class="segment" *ngIf="segment === 'informacion'">
    <div class="segment-content">
      <div id="qrImage">
        <div class="d-flex-center">
          <div class="d-flex-center qr-wrapper">
            <qr-code value="Hello world!" size="190" errorCorrectionLevel="M" />
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
