<ion-content [fullscreen]="true" class="ion-padding ion-text-center" color="tertiary">
  <img src="../../assets/img/logo.png" class="logo" alt="imagen logo de inicio de sesion">
  <div class="form-container">
    <h3>Bienvenido</h3>
    <p>Inicie sesion para continuar</p>
    <mat-form-field>
      <mat-label color="primary">Ingresa tu email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      @if (email.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ingresa tu contraseña</mat-label>
      <input color="primary" matInput [type]="hide() ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <ion-button expand="block" (click)="profePage()">Iniciar sesion</ion-button>
    <p>¿Has olvidado la contraseña? <a (click)="resetPage()">click aqui</a></p>
  </div>
</ion-content>